<%= form_with(model: [@employee, @employee_position], url: employee_positions_path) do |form| %>
  <%= render "shared/error_messages", object: @employee_position %>
   
  <div class="form-group mb-4 col-sm-4">    
      <%= form.collection_select :position_id, Position.all, :id, :name, {prompt: t('.please_select')}, class: "form-select form-select-lg mb-3" %>
      <%= form.submit t('button.submit'), class: "btn btn-primary" %>
    </div>

  
<% end %>