<div class="container mt-4">
  <h2><%= t('.add_employee_position') %></h2>

  <%= render "form", position: @position %>

  <%= link_to t('button.create_new_position'), new_position_path, class: "btn btn-primary" %>

  <%= link_to t('button.back'), @employee, class: "btn btn-primary"  %>
</div>