<div class="container mt-4">
  <h1>Employee Position</h1>

  <%= render "form", position: @position %>

  <h3>Create new position</h3>

  <%= link_to "Create  New Position", new_position_path, class: "btn btn-primary" %>

  <%= link_to "Back", @employee, class: "btn btn-primary"  %>
</div>