<div class="container m-4">
  <h2><%= t('.edit_position') %></h2>
  <%= render 'form', position: @position %>
  <br>
  <%= link_to t('button.back'), positions_path, class: "btn btn-primary mt-2" %>
</div>