<% if object.errors.any? %>
  <div id="error_explanation" class="alert alert-danger">    
    <h4><%= t 'shared.error_messages.errors', count: object.errors.count %></h4>
    <ul>
      <% object.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>