<nav class="navbar-dark navbar-expand-lg bg-body-tertiary" style="background-color: #0d6efd; text-color: #ffffff">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <%= link_to "Employees", employees_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Departments", departments_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Positions", positions_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Vacations", vacations_path, class: "nav-link" %>
        </li>
      </ul>
    </div>
  </div>
</nav>
